<h1>WellBee 🐝</h1>
<p id="notice"><%= notice %></p>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= recipe.recipe_title %>
      <br>
      <%= recipe.recipe_content %>
    </li>
  <% end %>
</ul>


<%= link_to 'Back', recipes_path %>
