@import "bootstrap";


body {
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/5/1f/zakat-oduvanchik-priroda.jpg");
    // background-image: url("https://stmed.net/sites/default/files/blur-wallpapers-25172-4864287.jpg");
    // background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
    // background-image: url("https://image.freepik.com/free-vector/orange-abstract-hexagonal-honey-comb-background_1164-1261.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 100vh;
    overflow-y: auto;
  }



  li {
    list-style-type: none;
}

   h1 {
      font-family: 'Merienda One', cursive;
      margin:  0 35px 0 35px;
      color: rgb(255, 217, 0,); 
   }

   h2 {
      font-family: 'Merienda One', cursive; 
      color: rgb(175, 93, 0); 
      margin: 0 35px 0 35px;
      text-align: center;
      font-size: 70px;
      padding: 50px
   }
   form {
      // padding: 10px;
      width: 50%;
      box-sizing: border-box;
      margin: auto;
      font-family: 'Heebo', sans-serif;
      background: darken(rgba(255, 230, 0, 0.774), 2%);
      //position: relative;
      top:-150px;

   }
   .button {
      position: relative;
      vertical-align: top;
      height: 40px;
      width: 40%;
      padding: 0;
      font-size: 15px;
      color: #fff;
      text-align: center;
      background: #e6ac0f;
      border: 1;
      border-color: rgb(0, 0, 0);
      cursor: pointer;
      margin-left: auto;
   }
   label {
      width: 7em;
      margin-right: .5em;
      vertical-align: top;
  }
  input {
     width: 100%;
     background-color: #EED79B;
     
  }
   textarea {
      width: 100%;
      background-color: #EED79B;

   }
   .field {
      font-family: 'Heebo', sans-serif;
    }

.navigation {
  list-style: none;
  margin: 35px; 
  
  background: bg-transparent;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(rgba(255, 230, 0, 0.774), 2%);
  color: #000;
  border-radius: 1em;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
.flex-container {
   padding: 4;
   margin: 4;
   list-style: none;
   
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   
   flex-flow: row wrap;
   justify-content: space-around;
 }
 a {
  color: rgb(0, 0, 0);

 }
 .flex-item-gratitude {
  
   background: darken(rgba(255, 217, 0, 0.733), 2%);
   padding: 5px;
   width: 220px;
   height: 200px;
   margin-top: 10px;
   overflow: hidden;
   line-height: 1.6;
   color: rgb(0, 0, 0);
   font-weight: bold;
   font-size: 1em;
   text-align: left;
   border-radius: 1em;
 }
  
 .flex-item-todo {
  
  background: darken(rgba(255, 254, 254, 0.801), 2%);
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 1.6;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  border-radius: 1em;
}

.flex-item-todo-show {
  
  background: darken(rgba(255, 254, 254, 0.801), 2%);
  padding: 5px;
  width: auto;
  min-width: 50vh;
  max-height: auto;
  margin-top: 10px;
  
  line-height: 1.6;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  border-radius: 1em;
}
.flex-container-quotes {
  padding: 4;
  margin: 4;
  list-style: none;
   
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
   
  flex-flow: row wrap;
  align-items: center;

}

.flex-item-quote-content {
  background: darken(rgba(255, 230, 0, 0.774), 2%);
   padding: 5px;
   width: auto;
   max-width: 50%;
   height: auto;
   margin-top: 30px;
   overflow: hidden;
   line-height: 3;
   color: rgb(0, 0, 0);
   font-weight: bold;
   font-size: 1em;
   text-align: left;
   border-radius: 1em;
   flex-wrap: nowrap;
   
 }

 .flex-container-rec {
  padding: 4;
   margin: 4;
   list-style: none;
   
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   
   flex-flow: row wrap;
}

.flex-item-rec {
  background: darken(rgba(255, 230, 0, 0.774), 2%);
   padding: 5px;
   width: auto;
   max-width: 50%;
   height: auto;
   margin-top: 30px;
   overflow: hidden;
   line-height: 3;
   color: rgb(0, 0, 0);
   font-weight: bold;
   font-size: 1em;
   text-align: left;
   border-radius: 1em;
   flex-wrap: nowrap;
   
 }

 
